::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

body {
  background-color: lightseagreen;
}

form {
  margin: 2em;
  padding: 0.5em;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  background-color: white;
}

.current-players-container {
  height: 40vmin;
  max-height: 40vmin;
  background-color: lightslategray;
  padding: 1em;
  margin: 1em;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
}
.search-invite-container {
  height: 40vmin;
  max-height: 40vmin;
  background-color: lightsteelblue;
  padding: 1em;
  margin: 1em;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: scroll;
}
.game-summary {
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 2em;
  background-color: lightsteelblue;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.summary-title {
  padding-left: 1em;
}
.summary-button {
  margin-top: 1em;
  margin-right: -3em;
}
.summary-link {
  color: black;
  font-weight: 700;
}
.sub-display {
  background-color: lightslategray;
  margin: 1em;
  padding: 0.25em;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  text-align: left;
}

.games-container {
  margin-top: 2em;
}

.create-game-message {
  color: red;
  background-color: white;
  padding: 0.5em;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.loading-game {
  height: 100vmin;
  padding-top: 2em;
  padding-left: 2em;
}

nav {
  z-index: +1;
  position: relative;
  background-color: lightslategray;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.nav-header {
  margin-left: 2em;
}

.full-height {
  height: 93.65vh;
  overflow: hidden;
}
.most-height {
  height: 70vh;
  overflow: hidden;
}

.block {
  background-color: grey;
  width: 5em;
  height: 5em;
  margin: 1px;
  border: 1px;
  border-style: solid;
  display: flex;
  justify-content: left;
  align-items: top;
}
.block-text {
  padding-left: 2px;
  pointer-events: none;
}

.ship {
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 450;
  pointer-events: none;
  opacity: 0.65;
}
.AChorizontal {
  width: 25.55em;
  height: 5em;
}
.ACvertical {
  height: 25.55em;
  width: 5em;
}
.BShorizontal {
  width: 20.5em;
  height: 5em;
}
.BSvertical {
  height: 20.5em;
  width: 5em;
}
.SMhorizontal {
  width: 15.35em;
  height: 5em;
}
.SMvertical {
  height: 15.35em;
  width: 5em;
}
.DShorizontal {
  width: 15.35em;
  height: 5em;
}
.DSvertical {
  height: 15.35em;
  width: 5em;
}
.CRhorizontal {
  width: 10.15em;
  height: 5em;
}
.CRvertical {
  height: 10.15em;
  width: 5em;
}

.pin {
  width: 2.5em;
  height: 2.5em;
  margin-left: 1.25em;
  margin-top: 1.25em;
  border: 2px;
  border-style: solid;
  border-radius: 50%;
}

.hbtnhorizontal {
  background-color: black !important;
}
.vbtnvertical {
  background-color: black !important;
}

.ships {
  margin-top: 3em;
}

.ship-buttons {
  width: 25.55em;
  height: 5em;
  display: inline-block;
  margin: 4px;
  color: black;
  border: 2px;
  border-style: solid;
  font-weight: 500;
}
.ACship-width {
  width: 25.55em;
}
.BSship-width {
  width: 20.5em;
}
.SMship-width {
  width: 15.35em;
}
.DSship-width {
  width: 15.35em;
}
.CRship-width {
  width: 10.15em;
}

.clicked-ship {
  background-color: black;
  padding: 2px;
  margin: 0.5em;
  border-radius: 2px;
}

.hz-btn {
  margin-top: 6em;
  width: 12em;
  z-index: +1;
  position: relative;
}
.vt-btn {
  margin-top: 6em;
  width: 12em;
  transform: rotate(90deg);
  z-index: +1;
  position: relative;
}
.right-col {
  margin-top: 4em;
  margin-right: 6em;
}
.shps-vt {
  transform: rotate(90deg);
}
.finalize-container {
  margin-top: 4em;
  z-index: +1;
  position: relative;
}
.submit-button {
  font-weight: 500;
}

.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}

.grid-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.no-wrap {
  white-space: nowrap;
}

.messages-display {
  margin-top: 4em;
  background-color: black;
  padding-bottom: 0.5em;
  border: 3px;
  border-style: dashed;
  border-color: red;
  border-radius: 10px;
}

.player-name-bar {
  margin-top: 2em;
  margin-bottom: 0.25em;
  padding: 0.25em;
  display: inline-block;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
}
.small-player-name-bar {
  margin: 0.25em;
  padding: 0.25em;
  display: inline-block;
  border: 2px;
  border-style: solid;
  border-radius: 3px;
}

.make-inline {
  display: inline;
}

.what-to-do {
  margin-top: 1em;
  margin-left: 1em;
}

.directions {
  width: 114%;
  margin-left: 1em;
  margin-top: 1.5em;
}

.right-90 {
  transform: rotate(90deg);
}

.selected-ship {
  margin-top: 10em;
  margin-bottom: 15em;
}

.game-info {
  margin-left: 1em;
  margin-top: 2em;
}
